page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
     ion-spinner {
    display: block;
    margin: auto;
  }
  }

  
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 250px;
  }

  .card-title {
    position: absolute;
    top: 6%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color:  #73879C;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
     top:13%;
    width: 100%;
    color: #333333;
  }

}
ion-spinner * {
  width: 50px;
  height: 50px;
  stroke: #444;
  fill: #222;
}


