<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      <strong>KABANI</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding class="animated fadeIn common-bg card-background-page">
 
<ion-item class="full-width" *ngIf="!selectedItem">
      <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
      <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date"></ion-datetime>
    </ion-item>
  <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doSearch()" *ngIf="!selectedItem">
    <ion-icon name="search"></ion-icon> Load
  </button>


  <!-- <ion-content padding *ngIf="dataFromServer">
    <div>
      <div style="display: block">
        <canvas width="400" height="400" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="randomize()">Update</button>
    </div>
  </ion-content> -->
  <ion-item *ngIf="dataFromServer && dataFromServer.ResponseStatus.Status==='Success'">
    <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
    Total amount
    <ion-badge item-end>{{dataFromServer['TotalSalesAMount']}} / {{dataFromServer['TotalBillCount']}} (bills) </ion-badge>
  </ion-item>
  <ion-content *ngIf="dataFromServer && dataFromServer.ResponseStatus.Status==='Success'" style="height:200px">
    Branchwise Amount
    <div style="display: block">
      <canvas baseChart width="400" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [legend]="barChartLegend"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </ion-content>


  <ion-item *ngIf="dataFromServer && dataFromServer.ResponseStatus.Status==='Success'">
    <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
    Total Weight
    <ion-badge item-end>{{dataFromServer['TotalWeightInGm']}} / {{dataFromServer['TotalBillCount']}} (bills)
    </ion-badge>
  </ion-item>
  <ion-content *ngIf="dataFromServer && dataFromServer.ResponseStatus.Status==='Success'" style="height:200px">
    Branchwise Weight
    <div style="display: block">
      <canvas baseChart width="400" [data]="doughnutChartDataWeight" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
        [legend]="barChartLegend" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </ion-content>
  <ion-content padding  *ngIf="isshow" style="left:47%;top:40%;background-color:transparent">
    <ion-spinner  name="bubbles" class="spinner-calm"  > Loading data</ion-spinner>
    Please wait...

  </ion-content>

  <ion-list *ngIf="dataFromServer && dataFromServer.ResponseStatus.Status==='Success'">



    <ion-card *ngFor="let item of branchesData" (click)="itemTapped($event, item)" >
      <!-- <img src="assets/img/bg1.jpg" /> -->
      <div class="card-title"> {{item.BranchName}} </div>
      <div class="card-subtitle">
        <ion-item *ngIf="dataFromServer">
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          Amount/Target
          <ion-badge item-end>{{item.BranchTotalAmount}}/{{item.BranchSalesTarget}} </ion-badge>
        </ion-item>
        <progress id="progressbar" max="{{item.BranchSalesTarget}}" value="{{item.BranchTotalAmount}}"> </progress>
        <div id="progressbarlabel">{{(item.BranchTotalAmount/item.BranchSalesTarget)*100 | number : '1.2-2'}} %</div>
 

        <ion-item *ngIf="dataFromServer">
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          Weight/Target
          <ion-badge item-end>{{item.BranchTotalWeight}} / {{item.BranchWeightTarget}}</ion-badge>
        </ion-item>
        <progress id="progressbar" max="{{item.BranchWeightTarget}}" value="{{item.BranchTotalWeight}}"> </progress>
        <div id="progressbarlabel">{{(item.BranchTotalWeight/item.BranchWeightTarget)*100 | number : '1.2-2'}} %</div>

        <ion-item *ngIf="dataFromServer">
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
         Bills
          <ion-badge item-end>{{item.BranchBillCount}} </ion-badge>
        </ion-item>
        
      </div>
    </ion-card>

  </ion-list> 
</ion-content>