<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      <strong>KABANI</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding class="animated fadeIn common-bg card-background-page">
  

  <div *ngIf="selectedItem" padding>
    ROUTES



    <ion-list *ngFor="let item of selectedItem.RouteDetails">

      <ion-item-sliding>
        <ion-item>
          <div class="card-title">{{item.RouteName}} </div>

        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        Text
      </button>
          <a href="tel:{{item.SalesmanDetails.EmpMobileNumber}}" ion-button color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </a>
        </ion-item-options>
        <ion-item-options side="right">
          <a href="https://api.whatsapp.com/send?phone=+91{{item.SalesmanDetails.EmpMobileNumber}}" ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Whatsapp
          </a>
        </ion-item-options>


      </ion-item-sliding>
      <!-- <a href="tel:{{item.SalesmanDetails.EmpSurName}}" ion-item *ngFor="let item of selectedItem.RouteDetails"> -->
      <ion-card>



        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          Amount
          <ion-badge item-end>{{item.NetAmount}} </ion-badge>
        </ion-item>
        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          sales target
          <ion-badge item-end>{{item.SalesTarget}}</ion-badge>
        </ion-item>

        <progress id="progressbar" max="{{item.SalesTarget}}" value="{{item.NetAmount}}"> </progress>
        <div id="progressbarlabel">{{(item.NetAmount/item.SalesTarget)*100 | number : '1.2-2'}} %</div>


        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          Weight
          <ion-badge item-end>{{item.netWeightInKg}} </ion-badge>
        </ion-item>
        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          weight target
          <ion-badge item-end>{{item.WeightTargetInGm}}</ion-badge>
        </ion-item>

        <progress id="progressbar1" max="{{item.WeightTargetInGm}}" value="{{item.netWeightInKg}}"> </progress>
        <div id="progressbarlabel1">{{(item.netWeightInKg/item.WeightTargetInGm)*100 | number : '1.2-2'}} %</div>

        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          Number Of Bills
          <ion-badge item-end> {{item.RouteBillCount}}</ion-badge>
        </ion-item>
        <ion-item>
          <!-- <ion-icon name="logo-twitter" item-start></ion-icon> -->
          {{item.SalesmanDetails.EmpCode}}
          <ion-badge item-end> {{item.SalesmanDetails.EmpFirstName}}</ion-badge>
        </ion-item>


      </ion-card>


    </ion-list>
  </div>
</ion-content>